
@model List<NetCoreMVCApp.Models.Menus.MenuVM>



<ul class="navbar-nav flex-grow-1">

    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@item.Name</a>
        </li>

    }
    @*<li class="nav-item">
         html yeni özelikleri tag helpers olarak geliştiriebiliriz.
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>*@
</ul>
